h1{
    color: orange;
}
input{
    margin: auto;
    color: blue;
    margin-left: 30px;

}
label{
    margin-right: 30px;
    color: blue;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .col-1 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .col-2 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }